@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  //FIXED
  padding: $mobile-padding 0;
  @include tablet {
    padding: 1.2rem 0;
  }

  &__count {
    padding-bottom: 2rem;
    @include tablet {
      padding: $tablet-gutter 0;
      font-family: Avenir-bold;
    }
  }

  &__label {
    font-size: 1.2rem;
    color: $primary-silver;
    position: absolute;
    top: 4px;
  }

  &__form {
    @include tablet {
      display: flex;
    }
  }

  &__input,
  &__button {
    width: 100%;
  }

  &__input {
    height: 10rem;
    margin: 0.4rem 0;
    padding: 1.2rem;
    @include tablet {
      height: 1rem;
      margin: 0;
      margin-right: $tablet-gutter;
      overflow: hidden;
    }
  }

  &__button-wrapper {
    position: relative;
    margin-top: 1rem;
    @include tablet {
      margin: 0;
      width: auto;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 20px;
    transform: translateY(-50%);
  }

  &__name {
    font-weight: bold;
  }

  &__date {
    color: $primary-silver;
  }
}

.comment-card {
  display: flex;
  padding: $mobile-padding 0;
  border-bottom: 2px solid $secondary-silver;
  position: relative;
  @include tablet {
    padding: $tablet-gutter 0;
  }

  &__left {
    margin-right: 1.6rem;
  }

  &__right {
    width: 100%;
  }
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
}
