@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.suggestions {
  padding: 1rem 0;
  @include tablet {
    padding: 2rem 0;
  }
  &__header {
    font-size: 1.4rem;
    color: $primary-silver;
    padding-bottom: 1rem;
    font-weight: bold;
  }
}
