//COLOURS
$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #ffff;

$secondary-black: #0000;
$secondary-blue: #0065ad;
$secondary-silver: #e1e1e1;
$secondary-white: #fafafa;

// BREAKPOINTS
$tablet-breakpoint: 768px;
// $desktop-breakpoint: 1280px;

//LAYOUT GRID
$mobile-padding: 1.6rem;
$tablet-padding: 3.6rem;

$tablet-gutter: 2.4rem;
