//GLOBAL STYLES
@use "./partials/resets";
@use "./partials/typology";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.global__avatar {
  width: 3.6rem;
  height: 3.6rem;
  min-width: 3.6rem;
  min-height: 3.6rem;
  border-radius: 50%;
  background-color: $secondary-silver;
  &--photo {
    background-image: url(../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
  }
  @include tablet {
    width: 4rem;
    height: 4rem;
  }
}

.global__input {
  min-height: 3.6rem;
  min-width: 24rem;
  font-size: 1.4rem;
  font-family: Avenir;
  color: $secondary-black;
  background-color: $secondary-white;
  border-radius: 4px;
  border: 1px solid $secondary-silver;
  outline: none;
  &::placeholder {
    color: $secondary-black;
  }
  &--error {
    outline: 1px solid #d22d2d;
  }

  &:focus {
    outline: 2px solid $primary-blue;
    &::placeholder {
      opacity: 0%;
    }
  }
  @include tablet {
    min-height: 4rem;
  }
}

.global__button {
  font-size: 1.2rem;
  height: 4rem;
  min-width: 15rem;
  width: 100%;
  padding: 0rem 3.2rem;
  background-color: $primary-blue;
  color: $primary-white;
  border: none;
  border-radius: 4px;
  &:hover {
    background-color: $secondary-blue;
    cursor: pointer;
  }
}

.main {
  padding: 0 $mobile-padding;
  @include tablet {
    padding: 0 $tablet-padding;
    @include desktop-width;
  }
  @include desktop {
    @include flex(row, center, flex-start);
  }
}

//DESKTOP LAYOUT
.section-wrapper {
  @include desktop {
    padding-top: 5rem;
    width: 100%;
  }
}
.suggestions {
  @include desktop {
    border-left: 1px solid $secondary-silver;
  }
}

.loading {
  padding-top: 20rem;
  text-align: center;
}
