@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include flex(row, center, center);
  padding: $mobile-padding;
  @include tablet {
    padding: 1.6rem $tablet-padding;
    @include desktop-width;
  }
}

.nav {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  width: 100%;

  &__container {
    @include flex(row, space-evenly, center);
    width: 100%;
    flex-wrap: wrap;
    @include tablet {
      width: auto;
    }
  }

  &__logo-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    @include tablet {
      width: 30%;
      text-align: left;
      margin: 0;
    }
  }

  &__search-wrapper {
    flex-grow: 1;
    position: relative;
    @include tablet {
      flex-grow: 0;
      margin-right: $tablet-gutter;
    }
  }

  &__search {
    width: 100%;
    padding: 0 4rem;
  }
  &__avatar {
    margin-left: 2rem;
    @media (max-width: 328px) {
      display: none;
    }
    @include tablet {
      order: 1;
      margin: 0;
    }
  }

  &__button-wrapper {
    margin-top: $mobile-padding;
    width: 100%;
    position: relative;
    @include tablet {
      width: auto;
      margin-top: 0;
      margin-right: $tablet-gutter;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 1.4rem;
    transform: translateY(-50%);

    &--upload {
      left: 1rem;
      width: 20px;
    }
  }
}
