@use "../../styles/partials/variables" as *;

.suggestions {
  &__card {
    display: flex;
    padding: 1rem 0;
  }

  &__image {
    //FIXED
    background-color: $secondary-silver;
    border-radius: 4px;
    //CUSTOM
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    margin-right: 1.6rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}
